@media (min-width:320px) and (max-width:767px) 
{
    .navbar-toggler {
     
        background-color: #ffffff;
        
    }

    .navbar-nav {
        gap: 10px;
        align-items: center;
        
       
    }

    .menu {
        margin-left: 0px;
        background-color: #FF4655;
    }


    .right_nav {
        align-items: center;
        justify-content: center;
        gap: 26px;
        color: white;
    }

    .banner .banner_text h1 {
       
        font-size: 40px;
       
    }

    .banner .banner_text p {
       
        font-size: 12px;
        font-weight: 300;
         width: 100%;
       
    }
    .banner .banner_icon {
        gap: 20px;
        margin-top: 45px;
        padding-bottom: 19px;
    }


    .about .h2 {
        margin-bottom: 57px;
        font-family: var(--primery_font);
        font-size: 27px;
        font-weight: 600;
        line-height: auto;
        letter-spacing: 1px;
        color: white;
        position: relative;
    }

    .about .h2::after {
  
        left: 150px;
    }

    .about .about_wrapper .image img
    {
        
          width: 100%;

    }

    .about .about_wrapper .about_part h2 
    {
 
        margin-top: 20px;
    }

    .about .about_wrapper .about_part p 
    {
        width: 100%;
      
        font-size: 14px;
       
    }


    .about_counter
     {
        color: white;
        margin-top: 51px;
        justify-content: center;
        gap: 20px;
    }

    #populer_gmaes 
    {
       
        padding-top: 36px;
      
        width: 100%;
    }
    .populer_games .carosel .left_side .image1 img {
        position: static;
        top: 9px;
        right: 56px;
        width: 100%;
    }

    .populer_games .carosel .left_side .image2 img {
        position: absolute;
        top: -163px;
        right: 28px;
        width: 100%;
        height: 150%;
    }

    img, svg {
        vertical-align: middle;
        width: 100%;
        padding-top: 100px;
    }


    .populer_games .icons 
    {
       
        right: 54px;
       
    }


    .live_stream {
        padding-top: 32px;
       
    }
    .live_stream .videos 
    {
        margin-top: -30.14px;
    }

    .live_stream .previous_matches 
    {
        width: 100%;
        margin: 0 auto;
        padding-top: 60.66px;
    }


    .team_1,
    .team_3 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      padding-right: 62px;
    }
    .team_2,
    .team_4 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      padding-left: 59px;
    }


    .team1_logo img
    {
        padding: 0;
        width: 65%;
    }


    .team2_logo img
    {
        padding: 0;
        width: 65%;
    }


    .team3_logo img
    {
        padding: 10px;
        width: 100%;
    }


    .team4_logo img
    {
        padding: 0;
        width: 65%;
    }

    .gaming_accessories .accessories 
    {
        margin-top: 34.82px;
        gap: 20px;
    }


    .professional_team .team .team1 .team_content {
        position: absolute;
        bottom: 20px;
        opacity: 0;
        background-color: #00000017;
        width: 90%;
    }


    .professional_team {
        padding-top: 100px;
        padding-bottom: 10px;
       
    }


    .faq .all_faq .q1, .q2, .q3, .q4 {
        padding-top: 76px;
        justify-content: space-between;
    }


    .faq .all_faq .q2, .q4 {
        justify-content: space-between;
        border-left: 1px solid #666666;
    }






}